@import url("https://use.typekit.net/jmk3xov.css");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html{
  font-family: 'Inter', sans-serif;

  font-size: 16px;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}


body{
  background-color: #000000;
  overflow-x: hidden;
}

nav{
  position:fixed;
  top:0;
  width: 100%;
  height: 100px;
  padding: 20px 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9;
  transition: 0.5s;
}

nav.bg {
  background-color: #000000;
}

.toggleBtn{
  display: none;
}

.logo{
  height: 50px;
}

.links-container{
  display: flex;
  list-style: none;
  gap: 10px;
}

.links{
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px 20px;
  -webkit-transition:1.5s;
  transition: 0.5s;
}

.links:hover {
  opacity: 0.5;
}

#topSection{
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;

}

#topSection  canvas{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.topContent {
  position: relative;
  z-index: 2;
}


.topHeadline{
  font-size: 4.5rem;
  text-align: center;
}

.topSecondary{
  text-align: center;
  margin: 25px 0 50px;
  font-size: 1.2rem;
}


section{
  padding: 60px 10vw;

}

.sectionTitle{
  text-align: center;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}

#aboutmeText{
  font-size: 16px;
  color: #fff;
}

#bioDiv{
  width: 100%;
  height: 100px;
  padding: 10px 20vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9;
  transition: 0.5s;
}

.sectionSecondary {
  text-align: center;
  width: 50%;
  min-width: 300px;
  color: #fff;
  opacity: 0.5;
  margin: 3.5rem auto;
  font-size: 1.1rem;
  line-height: 1.8rem;
}

.filters{
  margin: 100px 0 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.filterBtn {
  padding: 15px 30px;
  font-size: 1.5rem;
  border: none;
  color: #fff;
  background: transparent;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.5s;
}

.filterBtn.active, .filterBtn:hover {
  color: #000000;
  background: #fff;
}


.btn {
  padding: 15px 30px;
  width: fit-content;
  background: #000000;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  display: block;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  margin: auto;
}

.btn.light{
  background: #fff;
  color: #000000;
}

.btn.transparent{
  background: transparent;
  border: 2px solid #fff;
}

/* project gallery */

.projectGallery{
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  gap: 20px;
  position: relative;
}

.projectCard{
  position: relative;
  height: 200px;
}

.projectCard.active {
  border: 10px solid #fff;
}

.projectCard:not(.active):hover .tags{
  opacity: 1;
}

.projectCard:not(.active):hover .projectImg{
  opacity: 0.5;
  border: 2px solid #fff;
}

.projectImg{
  width: 100%;
  height: 100%;
  object-fit:contain;
  transition: 0.5s;
}

.tags{
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: #fff;
  width: 90%;
  transition: 0.5s;
  opacity: 0;
}

.projectCard .active {
  border: 10px solid #fff;
}

/* project info section */

#projectInfo{
  margin-top: 100px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 40px;
}

.projectDetails {
  overflow: hidden;
}

.image{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.name{
  color: #fff;
  margin: 30px 0;
  font-weight: 300;
  font-size: 2rem;
  text-transform: capitalize;
  text-align: left;
}

.details{
  color: #fff;
  opacity: 0.5;
  font-size: 1.1rem;
  line-height: 1.8rem;
  margin-bottom: 40px;
  text-align: left;
}

.btnGroup{
  font-weight: 700;
  display: flex;
  gap: 30px;
}

.btnGroup .btn{
  margin: 0;
}

.videoSection{
  display: grid;
  align-content:space-between;

}


  .video{
    width: 672px;
    height: 378px;
  }






.aboutMeContainer{
  margin-top: 100px;
  display: flex;
  gap: 100px;
}

.aboutMeImageContainer{
  position: relative;
  
}

.aboutImg{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.download-btn{
  position: absolute;
  bottom: 30px;
  left: 50%;
  font-weight: 700;
   font-size: 1.1rem;
  transform: translateX(-50%);
}

.personalInfo{
  position: relative;
    color: #fff;
}

.title{
  text-align: left;
  color: #fff;
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 40px;  
}

.title.small {
  font-size: 1.5rem;
  font-weight: 700;
}

.personalInfo p{
  margin: 30px 0;
  font-size: 1.1rem;
}

.skillSection{
  display: flex;
  gap: 100px;
}

.list{
    list-style: none;
    gap: 10px;
}


.listItem{
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px 20px;
  transition: 0.5s;
}

.listItem p{
  margin: 0;
  font-size: 1.1rem;
}

/* contact section */

.contactContainer {
  margin-top: 100px;
  display: flex;
  gap: 50px;
}

.contactDetails{
  width: 25%;
  color: #fff;
}

.contactCard{
  position: relative;
  padding-top: 10px;
  padding-left: 60px;
  margin-bottom: 40px;
}

.cardTitle{
  text-transform: capitalize;
  opacity: 0.5;
}

/* .contactContainer .socialLinksContainer{
  width: fit-content;
  display: block;
  margin: auto;

} */

/* .contactContainer .socialLinks{
  font-size: 1.4rem;
  margin right: 10px;
} */

.contactForm{
  width: 75%;
}

input, textarea{
  font-family: 'inter', sans-serif;
  width: 100%;
  padding: 20px;
  background-color: #1a1a1a;
  color: #fff;
  border: none;
  outline: none;
  font-size: 1.2rem;
  margin-bottom: 20px;
}


.nameEmailInput{
  display: flex;
  gap: 20px;
}

textarea{
  font-family: 'inter', sans-serif;
  resize: none;
  height: 300px;
}

.contactForm .btn {
  margin: 0;
  border: none;
  font-size: 1rem;
}


/* media querys */


@media screen and (max-width: 1200px){

  html{
    font-size: 15px;
  }

  /* projectGallery */
  .projectGallery{
    grid-template-columns: repeat(5,1fr);

  }

  .projectCard{
    height: 175px;
  }
  .video{
    width: 560px;
    height: 315px;
  }

  /* contact section  */
  .contactContainer{
    position: relative;
    flex-direction: column;
    padding-bottom: 70px;
  }

  .contactDetails{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }

  .contactForm{
    width: 100%;
  }
}

@media screen and (max-width: 992px){
  /* hero section  */

  .topHeadline{
    font-size: 3.5rem;
  }

  .logo{
    height: 40px;
  }
/* 
  filters */

  .filterBtn{
    padding: 10px 15px;
  }

  /* project Gallery */
  
  .projectGallery{
    grid-template-columns: repeat(4,1fr);
  }

  .projectCard{
    height: 150px;
  }

  .projectDetails{

  }

  .aboutMeContainer{
    flex-direction: column;
    align-items: center;
  }

  .aboutMeImageContainer{
    
    width: 100%;
    min-width: 300px;
    height: 500px;
    
  }
  .aboutImg{
    object-fit: contain;
  }

  .personalInfo{
    width: 100%;
  }

  .contactContainer{
    flex-direction: column-reverse;
  }

  .contactDetails{
    grid-template-columns: repeat(2,1fr);
  }

}

@media screen and (max-width: 735px){
  nav{
    background-color: #000000;

  }
  .logo{
    height: 30px;
  }
  .toggleBtn{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 2px;
    position: relative;
    cursor: pointer;
  }

  .toggleBtn span {
    position: absolute;
    width: 80%;
    height: 2px;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
  }

  .toggleBtn span:nth-child(1){
    top: 30%;
  }

  .toggleBtn span:nth-child(3){
    top: 70%;
  }

  .toggleBtn.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .toggleBtn.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .toggleBtn.active span:nth-child(2){
    opacity: 0;
  }


  .links-container{
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 100px;
    left: 0;
    gap: 0;
    pointer-events: none;
    opacity: 0;
    transition: 0.5s;
  }

  .links-container.active{
    opacity: 1;
    pointer-events: all;
  }

  .links {
    display: block;
    width: 100%;
    padding: 20px 10vw;
    background: #000000;
  }

  .links:hover{
    opacity: 1;
    background: #1a1a1a;
  }
  .video{
      width: 100%;
  }


  
  
  .projectGallery{
    grid-template-columns: repeat(2,1fr);
  }


  .contactDetails{
    grid-template-columns: repeat(1,1fr);
  }
  
  

  
}

@media screen and (max-width: 500px){
  .topHeadline{
    font-size: 3rem;
  }

  .topSecondary{
    font-size: 1.2rem;
    width: 80%;
    display: block;
    margin: 25px auto;
    line-height: 2rem;
  }

  .nameEmailInput{
    flex-direction: column;

  }

  .video{
      width: 100%;
  }

  input:nth-child(1) {
    margin-bottom: 0;
  }
  
}